h4 {
    margin: 20px 0px;
    font-size: 25px;
}
.trabalho {
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
}
p, li {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 6px;
}

.title {
    display: center;
}
.text {
    align-items: center;
}
table{
    margin: auto;
}